Repository TEAM-HOUME/HOUME-SERVER, pull requests merged in 2025-10, with the labels that each got.

#265 [Hotfix] 마이페이지에서 이미지 생성 이력 클릭시 결과페이지의 이미지가 여러개로 보이도록 수정
  src/main/java/or/sopt/houme/domain/generateImage/repository/GenerateImageRepositoryCustom.java
  src/main/java/or/sopt/houme/domain/generateImage/repository/GenerateImageRepositoryImpl.java
  src/main/java/or/sopt/houme/domain/user/controller/UserController.java
  src/main/java/or/sopt/houme/domain/user/controller/dto/ImageHistoriesResultPageResponse.java
  src/main/java/or/sopt/houme/domain/user/controller/dto/ImageHistoryResultPageResponse.java
  src/main/java/or/sopt/houme/domain/user/service/UserService.java
  src/main/java/or/sopt/houme/domain/user/service/UserServiceImpl.java
  src/test/java/or/sopt/houme/domain/generateImage/repository/GenerateImageRepositoryImplTest.java
  src/test/java/or/sopt/houme/domain/user/service/UserServiceImplTest.java
Labels: :hammer_and_wrench: fix, :1234: chore, ✊ 재연, ✊ 본탁

#279 [REFACTOR] 생성 및 구현 방식 리팩토링, 이미지 상세 반환 로직 수정
  src/main/java/or/sopt/houme/domain/generateImage/controller/GenerateImageController.java
  src/main/java/or/sopt/houme/domain/generateImage/facade/GenerateImageLikeFacade.java
  src/main/java/or/sopt/houme/domain/house/controller/HouseController.java
  src/main/java/or/sopt/houme/domain/preference/entity/GenerateImagePreference.java
  src/main/java/or/sopt/houme/domain/preference/repository/GenerateImagePreferenceRepository.java
  src/main/java/or/sopt/houme/domain/preference/repository/PreferenceRepositoryImpl.java
  src/main/java/or/sopt/houme/domain/preference/service/GenerateImagePreferenceService.java
  src/main/java/or/sopt/houme/domain/preference/service/GenerateImagePreferenceServiceImpl.java
  src/main/java/or/sopt/houme/domain/preference/service/PromptPreferenceService.java
  src/main/java/or/sopt/houme/domain/user/controller/dto/ImageHistoriesResultPageResponse.java
  src/main/java/or/sopt/houme/domain/user/service/UserServiceImpl.java
  src/main/java/or/sopt/houme/global/api/ErrorCode.java
  src/test/java/or/sopt/houme/domain/house/controller/HouseControllerTest.java
  src/test/java/or/sopt/houme/domain/preference/service/PromptPreferenceServiceImplTest.java
  src/test/java/or/sopt/houme/domain/user/service/UserServiceImplTest.java
Labels: :hammer_and_wrench: fix, :m: test, :recycle: refactor, :1234: chore, ✊ 채륜

#288 [TEST] GenerateImageLikeFacade 테스트 코드 작성
  src/test/java/or/sopt/houme/domain/generateImage/facade/GenerateImageLikeFacadeTest.java
Labels: :m: test, :1234: chore, ✊ 채륜

#293 [FIX] factor 변수 수정, factor 요인 중복 가능성 제거
  src/main/java/or/sopt/houme/domain/preference/entity/PreferenceFactor.java
  src/main/java/or/sopt/houme/domain/preference/service/FactorServiceImpl.java
  src/main/java/or/sopt/houme/domain/user/service/UserServiceImpl.java
  src/test/java/or/sopt/houme/domain/factor/service/FactorServiceImplTest.java
Labels: :hammer_and_wrench: fix, :recycle: refactor, ✊ 채륜
